* {
    box-sizing: border-box; 
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 400px; 
    margin: auto;
    background: rgb(204, 185, 185);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.heading{
    font-family: "Roboto", sans-serif;
    margin-bottom: 20px; 
}

label {
    display: block;
    margin: 10px 0 5px;
}

input::placeholder,
textarea::placeholder {
    color: rgb(14, 13, 13);
    opacity: 0.5;
    font-family: 'Roboto', sans-serif; 
    font-size: 14px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px; 
}

.button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%; 
    font-size: 16px; 

}

button:hover {
    background-color: #218838;
}

.hidden {
    display: none;
}

#successMessage {
    margin-top: 20px;
    color: green;
    text-align: center; 
}

@media (max-width: 600px) {
    .container {
        padding: 15px; 
    }

    input, textarea, button {
        font-size: 14px; 
    }
}